:root{
    /*Colores de la primera plantilla*/
    --cod-gray: #1a1a1a;
    --mine-shaft: #2b2b2b;
    --tundora: #4d4d4d;
    --concrete: #f2f2f2;
    --tall-poppy: #bf3a2b;


    /*Colores de la segunda plantilla*/
    --cello: #1d3658;
    --wedgewood: #447a9c;
    --aqua-island: #a7dadc;
    --peppermint: #f2feaf;
    --amaranth: #e63746;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* para var cada una de las cajas */
    /* outline: 1px solid white;  */
}

body{

    background-color: var(--mine-shaft);
    color: var(--concrete) ;
}

html{
    /* para los links de la barra de nav */
    scroll-behavior: smooth;
    font-size: 62.5%;
}
header{
    background-color: var(--cod-gray);
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    width: 100%;
    z-index: 100;
}

.nav-container{
    display: flex;
    justify-content: space-around;
    width: auto;
}

.nav-title a{
    font-size: 3.6rem;
    font-weight: 600;
    color: var(--tall-poppy);
    text-decoration: none;
}

.nav-list{
    display: flex;
    justify-content: space-around;
    list-style: none;
    gap: 1rem;
}
.nav-list li{
    text-align: center;
    justify-content: center;
    /* padding: 0px; */
}
.nav-list li a{
    text-align: none;
    text-decoration: none;
    transition: .5s;
    font-size: 1.8rem;
    color: var(--concrete);
}

.nav-list li a:hover{
    color: var(--tall-poppy);
}
.nav-responsive{
    background-color: var(--tall-poppy);
    color: var(--concrete);
    padding: .5rem 1rem;
    border-radius: .5rem;
    cursor: pointer;
    display: none;
}

/* HOME */

section{
    min-height: 100vh;
    overflow-x: hidden;
}

.home{
    display: flex;
    align-items: center;
    padding: 0  9%;
    background: url(/img/homeOwl.png) no-repeat;
    background-size: cover;
    background-position: center;
}

.home-content{
    max-width: 60rem;
}

.home-content h1{
    font-size: 5.6rem;
    font-weight: 700;
    line-height: 1.3;
}

.home-content .text-animated{
    position: relative;
    width: 32.8rem;
}

.home-content .text-animated h3{
    font-size: 3.2rem;
    font-weight: 700;
    color: var(--tall-poppy);
}

.home-content p{
    font-size: 1.6rem;
    text-align: justify;
    margin: 2rem 0 4rem;
}
.btn-home{
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 34.5rem;
    height: 5rem;
}

.btn-home .btn{
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 15rem;
    height: 100%;
    background: var(--amaranth);
    border: .2rem solid var(--tall-poppy);
    border-radius: .8rem;
    font-size: 1.8rem;
    font-weight: 600;
    letter-spacing: .1rem;
    color: var(--concrete);
    text-decoration: none;
    z-index: 1;
    overflow: hidden;
}

.btn-home .btn::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    z-index: -1;
    background: var(--tundora);
    transition: .5s;
}

.btn-home .btn:hover::before{
    width: 100%;
}

.socialnetwork-container{
    position: absolute;
    display: flex;
    justify-content: space-between;
    bottom: 4rem;
    width: 17rem;
}

.socialnetwork-container a{
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    font-size: 3rem;
    color: var(--tall-poppy);

}

    /* SECTION ABOUT ME */

.aboutme{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    padding-bottom: 6rem;
    background: var(--tundora);
}

span{
    color: var(--tall-poppy);
}

.aboutme-title{
    font-size: 5rem;
    margin-bottom: 3rem;
    text-align: center;
}

.aboutme-img{
    position: relative;
    width: 35rem;
    height: 35rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.aboutme-img img{
    width: 35rem;
    height: 35rem;
    border-radius:50% ;
    border: .2rem solid var(--tall-poppy);
}

.aboutme-img .circle-spin{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(0);
    width: 40rem;
    height: 40rem;
    border-radius:50%;
    border-top: .2rem solid var(--tundora);
    border-bottom: .2rem solid var(--tundora);
    border-left: .2rem solid var(--amaranth);
    border-right: .2rem solid var(--amaranth);
}

.aboutme-content{
    text-align: center;
}

.aboutme-content h3{
    font-size: 3rem;
}

.aboutme-content p{
    font-size: 2.3rem;
    margin: 2rem;
}

 /* SECTION SKILLS */

.skills{
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    padding-bottom: 6rem;
}

.skills-title{
    font-size: 5rem;
    margin-top: 3rem;
    text-align: center;
}

.skills-subtitle{
    font-size: 3rem;
    margin-bottom: 3rem;
}

.skills-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}

.skills-frontend{
    width: 35rem;
    height: 35rem;
    background: var(--tundora);

}

.languages-title{
    font-size: 2rem;
    justify-content: center;
    text-align: center;
}

.skills-backend{
    width: 35rem;
    height: 35rem;
    background: var(--tundora);
}

.skills-languages{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.skills-languages i{
    font-size: 3rem;
    color: var(--tall-poppy);
}